<!DOCTYPE html>
<html>

<head>
    <title>
        AngularJS Form Validations Example
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('checkboxApp', []);

        app.controller('checkboxController', function ($scope) {

            $scope.users = [
                {
                    "userId": 1,
                    "userName": "A"
                },
                {
                    "userId": 2,
                    "userName": "B"
                },
            ];

            $scope.validMsg = false;
            $scope.checkMsg = function (choise) {

                var choised = [];
                angular.forEach(choise, function (value, key) {
                    if (choise[key].checked) {
                        choised.push(choise[key].userId);
                    }
                });

                if (choised.length > 0) {
                    $scope.msg = choised.toString();
                }
                else {
                    $scope.msg = "Please check an option!";
                };

                // var isValid = $scope.chkValid;
                // if (isValid == true || isValid == undefined) {
                //     $scope.hasValid = true;
                // }
                // else {
                //     $scope.hasValid = false;
                // }
            };

        });

    </script>
</head>

<body ng-app="checkboxApp">
    <div ng-controller="checkboxController">
        <div ng-repeat="user in users">
            <input type="checkbox" ng-value="user.userId" ng-model="user.checked">
            <label>{{user.userName}}</label>
            <br>
        </div>


        <span style="color: red">{{msg}}</span>
       
        <input type="submit" ng-click="checkMsg(users)" value="fds" />
    </div>
</body>

</html>