<!DOCTYPE html>

<html lang="en">

<head>
  <title>Hello World AngularJS application</title>
  <script data-require="angular.js@1.6.0" data-semver="1.6.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>

  <script>
    var app = angular.module('aglTest', []);
    app.controller('aglController', function ($scope) {

      $scope.sendForm = function () {
        $scope.msg = "Form Validated";
      };

    });



  </script>

</head>

<body ng-app="aglTest">
  <h1>Hello World AngularJS application</h1>

  <div ng-controller="aglController">
    <h4>AngularJS Greeting</h4>

    <form name="personForm" ng-submit="sendForm()">
      <label for="name">First name:</label>
      <input id=name type="text" required name="firstName" ng-model="person.fname">
      <span ng-show="personForm.firstName.$error.required">Required !</span>
      <br/>
      <label for="name">Last name:</label>
      <input id=name type="text" required name="lastName" ng-model="person.lname">
      <span ng-show="personForm.lastName.$error.required">Required !</span>
      <br/>
      <button type="submi">Send</button>
    </form>



  </div>

</body>

</html>