<!DOCTYPE html>
<html>

<head>
    <title>
        AngularJS Form Validations Example
    </title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <link rel="stylesheet" ; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <script type="text/javascript">
        var app = angular.module('appRouter', ['ngTable']);
        // app.run(function ($http) {
        //     $http.get('todo.json')
        //         .success(function (data) {
        //         })
        // })
        app.controller('gobalController', function ($scope,$http, NgTableParams) {

            var promise= $http.get('todo.json');
            promise.success(function(data){
                console.log(data);
                console.log(angular.toJson(data));
                console.log(angular.fromJson(data));
            });


            var amount = "123";
            console.log(Number(amount));
            console.log(angular.isObject(amount));

            var objUsers = [
                { name: 'A', age: 18 },
                { name: 'B', age: 18 },
                { name: 'C', age: 18 },
                { name: 'D', age: 18 },
                { name: 'E', age: 18 },
                { name: 'F', age: 18 },
                { name: 'G', age: 18 },
            ];

            console.log(objUsers.phone);
            console.log("hasPhone: " + ('phone' in objUsers));
            console.log('check is definded phone property: ' + (angular.isDefined(objUsers.phone)));
            console.log('check is isUndefined phone property: ' + (angular.isUndefined(objUsers.phone)));

            var homeType = ['HCM', 'LA', 'HN'];
            // console.log('Pop: ' + homeType.pop());
            // console.log('shift: ' + homeType.shift());
            // homeType.push('TM');
            // homeType.unshift('DN');
            // homeType.splice('DN', 1);
            console.log(homeType.slice(0, 2));
            console.log('homeType:' + homeType);

            var place = {
                phone: 123
            };

            var extendedUser = {
                city: 'HCM'
            };

            var email = 'abc@gmail.com';
            console.log(angular.isObject(email));
            console.log(angular.isObject(objUsers));

            var hasPhone = 'phone1' in place;
            console.log('has phone:' + hasPhone);

            // delete extendedUser.city;
            angular.extend(extendedUser, place);
            console.log(extendedUser);
            $scope.placeForUser = extendedUser;

            $scope.users = objUsers;

            $scope.usersTable = new NgTableParams({}, { dataset: $scope.users });

            $scope.clkCount = 0;

            $scope.notDigest = function () {
                $scope.dateTime = new Date();
            };

            var doc = document.getElementById('btnDigest');
            doc.addEventListener('click', function () {
                $scope.$apply(function () {
                    $scope.dateTime = new Date();
                });
            });
        });

        app.controller('radioController', function ($scope) {

            $scope.notDigest = function () {
                $scope.dateTime = new Date();
            };

            var doc = document.getElementById('btnDigestLocal');
            doc.addEventListener('click', function () {

                $scope.dateTime = new Date();
                $scope.$digest();

            });

            $scope.count = 0;
            $scope.$watch('txtVal', function (newVal, oldVal) {
                $scope.count = $scope.count + 1;
            })
        });

    </script>
</head>

<body ng-app="appRouter">

    <div ng-controller="gobalController">
        <div>{{placeForUser.phone}}</div>
        <table ng-table='usersTable' class="table table-striped">
            <tr ng-repeat="user in users ">
                <td title="'name'">{{user.name}}</td>
                <td title="'age'">{{user.age}}</td>
                <td title="'age'">{{user.city}}</td>
            </tr>
        </table>

        <hr>
        <div>
            <input type="button" value="ngClickEvent" ng-click="clkCount=clkCount+1" />
            <br/>
            <span>{{clkCount}}</span>
        </div>

        <div>
            <input type="button" value="Not Digest" ng-click="notDigest()">
            <input type="button" id="btnDigest" value="Digest">
            <span style="color: red">{{dateTime | date:'dd/mm/yyyy HH:mm:sss'}}</span>
        </div>
    </div>

    <div ng-controller="radioController">
        <div>
            <input type="button" value="Not Digest local" ng-click="notDigest()">
            <input type="button" id="btnDigestLocal" value="Digest local">
            <span style="color: red">{{dateTime | date:'dd/mm/yyyy HH:mm:sss'}}</span>
        </div>

        <div>
            <input type="text" ng-model="txtVal" />
            <span style="color: red">{{count}}</span>
        </div>

        <form name="frmContact" novalidate ng-submit="frmContact.$valid && sendContact()">
            <input type="text" name="fullName" ng-model="txtFullName" required ng-pattern="/^[0-9]{1,5}$/" />
            <span style="color: red" ng-show="frmContact.fullName.$error.required">Required!</span>
            <span style="color: red" ng-show="frmContact.fullName.$dirty && frmContact.fullName.$error.pattern">Minium 3 characters</span>
        </form>

        <div ng-repeat="user in users">
            <input type="radio" name="usergroup" ng-value="user.userId" ng-model="user.checked">
            <label>{{user.userName}}</label>
            <br>
        </div>

        <div>
            <select name="users1" ng-options="user.userName for user in users" ng-model="userselected">
                <option value="">--Selected value</option>
            </select>
        </div>

        <span style="color: red">{{msg}}</span>

        <input type="submit" ng-click="checkMsg(users)" value="fds" />
    </div>
</body>

</html>