$padding: 106px;

nav {
  ul {
    margin: 0;
    padding: $padding;
    list-style: -moz-linear-gradient();
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: $padding 12px;
    text-decoration: none;
  }
}