<div ng-controller="sportListCtr" class="panel panel-default row">

    <div with-closure>withClousure</div> <br/>   
    <div with-out-closure>withOutClosure</div>

    <div class="col-xs-3">
        <a ng-class="getCategoryClass(item)" ng-click="selectCategory(item)" ng-repeat="item in data.products | orderBy: 'category'  | unique: 'category'"
            class=" btn btn-block btn-default btn-lg">
            {{item}}
        </a>
    </div>
    <div class="col-xs-8">
        <div ng-repeat="prod in  data.products | filter:categoryFilter">
            <h3>
                <strong>{{prod.name}}</strong>
                <strong>{{prod.category}}</strong>
            </h3>
            <span>{{prod.description}}</span>
            <span>{{prod.price | currency}}</span>
            <button ng-click="addProduct(prod)" class="btn btn-success pull-right">Add to cart</button>
        </div>
    </div>
</div>